@import url("https://code.highcharts.com/dashboards/css/datagrid.css");
@import url("https://code.highcharts.com/dashboards/css/dashboards.css");

@media (min-width: 1800px) {
  .row {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1799px) {
  .row highcharts-chart {
    display: block;
    width: 100%;
  }
}

.timeline {
  display: block;
  width: 100%;
}
